@model MembersListViewModel;
@{
    ViewData["Title"] = "Member";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>
<p>@Model.Name[0]</p>
<p>@Model.Name[1]</p>
<p>@Model.Name[2]</p>
<p>@Model.Name[3]</p>