@using System.Linq;
@using System.Web;
@model MemberListViewModel;
@{
    ViewData["Title"] = "Member";

}

<h2>Members</h2>

<p>List of Hogwarts library members - no access to restricted section</p>

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Link</th>
    </tr>
    @foreach (var member in Model.Members)
    {
        <tr onclick="location.href='@Url.Action("Profile", "Member", new { id = member.Id })'">
            <td>@member.Id</td>
            <td>@member.Name</td>
            <td><a href="/Member/@member.Id">Go To Member</a></td>
        </tr>
    }
     
</table>

<h2>Create Member</h2>
<form method="post" asp-controller="Member" asp-action="Index">
    First Name: <input type="text" asp-for="NewMemberName" value="" />
    <button type="submit">Create New Member</button>
</form>
