@using System.Linq;
@model List<MemberViewModel>
@{
    ViewData["Title"] = "Member";

}

<h2>Members</h2>

<p>Hello from our View Template!</p>

<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @foreach (var member in Model)
    {
        <tr>
            <td>@member.Id</td>
            <td>@member.Name</td>
        </tr>
    }
   
</table>

<a class="btn btn-primary" href="@Url.Action("TestButton","Member")">Click</a>
